# Movie recommender

In [1]:
import pandas as pd 
import numpy as np 
df1=pd.read_csv('credits.csv')
df2=pd.read_csv('movies_metadata.csv')

In [2]:
df1

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [3]:
df2

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [4]:
df1.columns = ['id','tittle','cast','crew']
df2= df2.merge(df1,on='id')

In [5]:
df2

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

## Popularity based recommendation

In [6]:
#Filtering needed columns to find Popular Movies
df = df2[['id','title','vote_count', 'vote_average','popularity']]

In [7]:
df

,id,title,vote_count,vote_average,popularity
0,19995,Avatar,11800,7.2,150.437577
1,285,Pirates of the Caribbean: At World's End,4500,6.9,139.082615
2,206647,Spectre,4466,6.3,107.376788
3,49026,The Dark Knight Rises,9106,7.6,112.312950
4,49529,John Carter,2124,6.1,43.926995
...,...,...,...,...,...
4798,9367,El Mariachi,238,6.6,14.269792
4799,72766,Newlyweds,5,5.9,0.642552
4800,231617,"Signed, Sealed, Delivered",6,7.0,1.444476
4801,126186,Shanghai Calling,7,5.7,0.857008
4802,25975,My Date with Drew,16,6.3,1.929883

In [8]:
#Giving a particular score  for each movies using three major numerical colums values *wiz: vote_count, vote_average, popularity
#For that a eqn derive to find the the Score for the movie
def ratings (x):
    vote = x['vote_count']
    average = x['vote_average']+1
    popularity = x['popularity']+1
    
    
    rating = (vote*popularity)/average
    log = np.log2(rating)
    return log

In [9]:
df['score'] = df.apply(ratings, axis=1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: RuntimeWarning: divide by zero encountered in log2
  # Remove the CWD from sys.path while we load stuff.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
#Recommending most Popular movies based on the data set
popular_movie = df[df.vote_count>=2000].sort_values('score',ascending=False).head(50)

In [11]:
#Float values decimal numbers rounding off to 1 digit after decimal
popular_movie.round(1)

,id,title,vote_count,vote_average,popularity,score
95,157336,Interstellar,10867,8.1,724.2,19.7
788,293660,Deadpool,10995,7.4,514.6,19.4
546,211672,Minions,4571,6.4,875.6,19.0
94,118340,Guardians of the Galaxy,9742,7.9,481.1,19.0
127,76341,Mad Max: Fury Road,9427,7.2,434.3,18.9
28,135397,Jurassic World,8662,6.5,418.7,18.9
96,27205,Inception,13752,8.1,167.6,18.0
65,155,The Dark Knight,12002,8.2,187.3,17.9
199,22,Pirates of the Caribbean: The Curse of the Bla...,6985,7.5,272.0,17.8
0,19995,Avatar,11800,7.2,150.4,17.7
16,24428,The Avengers,11776,7.4,144.4,17.6
26,271110,Captain America: Civil War,7241,7.1,198.4,17.4
9,209112,Batman v Superman: Dawn of Justice,7004,5.7,155.8,17.3
200,131631,The Hunger Games: Mockingjay - Part 1,5584,6.6,206.2,17.2
662,550,Fight Club,9413,8.3,146.8,17.2
270,286217,The Martian,7268,7.6,167.9,17.1
88,177572,Big Hero 6,6135,7.8,203.7,17.1
262,120,The Lord of the Rings: The Fellowship of the Ring,8705,8.0,138.0,17.0
82,119450,Dawn of the Planet of the Apes,4410,7.3,243.8,17.0
68,1726,Iron Man,8776,7.4,120.7,17.0
3,49026,The Dark Knight Rises,9106,7.6,112.3,16.9
809,13,Forrest Gump,7927,8.2,138.1,16.9
1881,278,The Shawshank Redemption,8205,8.5,136.7,16.9
98,49051,The Hobbit: An Unexpected Journey,8297,7.0,108.8,16.8
3232,680,Pulp Fiction,8428,8.3,121.5,16.8
329,122,The Lord of the Rings: The Return of the King,8064,8.1,123.6,16.8
7,99861,Avengers: Age of Ultron,6767,7.3,134.3,16.8
108,87101,Terminator Genisys,3631,5.8,202.0,16.7
124,109445,Frozen,5295,7.3,165.1,16.7
634,603,The Matrix,8907,7.9,104.3,16.7
119,272,Batman Begins,7359,7.5,115.0,16.6
72,297761,Suicide Squad,7458,5.9,90.2,16.6
12,58,Pirates of the Caribbean: Dead Man's Chest,5246,7.0,145.8,16.6
287,68718,Django Unchained,10099,7.8,82.1,16.5
693,210577,Gone Girl,5862,7.9,143.0,16.5
77,150540,Inside Out,6560,8.0,128.7,16.5
1153,240832,Lucy,5878,6.3,115.2,16.5
2522,205596,The Imitation Game,5723,8.0,145.4,16.5
2912,11,Star Wars,6624,8.1,126.4,16.5
276,672,Harry Potter and the Chamber of Secrets,5815,7.4,132.4,16.5
614,20352,Despicable Me,6478,7.1,113.9,16.5
197,671,Harry Potter and the Philosopher's Stone,7006,7.5,110.0,16.5
17,1865,Pirates of the Caribbean: On Stranger Tides,4948,6.4,135.4,16.5
3337,238,The Godfather,5893,8.4,143.7,16.5
29,37724,Skyfall,7604,6.9,93.0,16.5
25,597,Titanic,7562,7.5,100.0,16.5
330,121,The Lord of the Rings: The Two Towers,7487,8.0,106.9,16.5
64,246655,X-Men: Apocalypse,4721,6.4,139.3,16.4
1465,198663,The Maze Runner,5371,7.0,131.8,16.4
182,102899,Ant-Man,5880,7.0,120.1,16.4

## Description(Content) based Recommender
 To find most 10 similar movies

In [12]:
#Based on the taglines, genres, description we can concat them and convert it to a feature of vector for each  particular movie

df3 = df2[['id','title', 'genres', 'cast', 'crew','production_companies','keywords','overview']]
df3

,id,title,genres,cast,crew,production_companies,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...","[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...","[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",[],[],A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...","[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",[],[],When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...","[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...

In [13]:
df3.genres.iloc[0] #and its a string not a list

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [14]:
import ast
#By using this "ast" modules own  literal_eval function we can convert the  string to list
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [15]:
#Now I've the list of generes detail . Need to fetch all the genres of that movie (which is a good parameter to find similar movie)
#Converting the dictionary name values and appending towards a list

def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [16]:
df3.genres = df3.genres.apply(convert)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [17]:
df3

,id,title,genres,cast,crew,production_companies,keywords,overview
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Action, Adventure, Crime]","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[Action, Crime, Thriller]","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...","[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,"[Comedy, Romance]","[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",[],[],A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...","[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",[],[],When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,[Documentary],"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...","[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...

In [18]:
#To find 3 Major Lead Actor's name of  each movie

def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [19]:
df3.cast = df3.cast.apply(convert3)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [20]:
df3.crew.iloc[0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [21]:
#We can see that in crew column the full crew members associated with the movies are included in a single cell also these are messed with lots of unwanted details


#To extract the director name from each row we can use this function
#This function will only detect the job name=Director and append it to the list
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [22]:
df3['director'] = df3.crew.apply(fetch_director)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
df3

,id,title,genres,cast,crew,production_companies,keywords,overview,director
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",[Andrew Stanton]
...,...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[Action, Crime, Thriller]","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...","[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...,[Robert Rodriguez]
4799,72766,Newlyweds,"[Comedy, Romance]","[Edward Burns, Kerry BishÃ©, Marsha Dietlein]","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",[],[],A newlywed couple's honeymoon is upended by th...,[Edward Burns]
4800,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","[Eric Mabius, Kristin Booth, Crystal Lowe]","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...","[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic...",[Scott Smith]
4801,126186,Shanghai Calling,[],"[Daniel Henney, Eliza Coupe, Bill Paxton]","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",[],[],When ambitious New York attorney Sam is sent t...,[Daniel Hsia]
4802,25975,My Date with Drew,[Documentary],"[Drew Barrymore, Brian Herzlinger, Corey Feldman]","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...","[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...,"[Brian Herzlinger, Jon Gunn, Brett Winn]"

In [24]:
df3.productions = df3.production_companies.apply(convert)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [25]:
df3 = df3.drop(columns = ['crew','production_companies'])  # already created  with new name, so dropping the older columns

In [26]:
df3.keywords =df3.keywords.apply(convert)

In [27]:
df3

,id,title,genres,cast,keywords,overview,director
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bondâ€™s past sends him o...,[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",[Andrew Stanton]
...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[Action, Crime, Thriller]","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...","[united statesâ€“mexico barrier, legs, arms, pap...",El Mariachi just wants to play his guitar and ...,[Robert Rodriguez]
4799,72766,Newlyweds,"[Comedy, Romance]","[Edward Burns, Kerry BishÃ©, Marsha Dietlein]",[],A newlywed couple's honeymoon is upended by th...,[Edward Burns]
4800,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","[Eric Mabius, Kristin Booth, Crystal Lowe]","[date, love at first sight, narration, investi...","""Signed, Sealed, Delivered"" introduces a dedic...",[Scott Smith]
4801,126186,Shanghai Calling,[],"[Daniel Henney, Eliza Coupe, Bill Paxton]",[],When ambitious New York attorney Sam is sent t...,[Daniel Hsia]
4802,25975,My Date with Drew,[Documentary],"[Drew Barrymore, Brian Herzlinger, Corey Feldman]","[obsession, camcorder, crush, dream girl]",Ever since the second grade when he first saw ...,"[Brian Herzlinger, Jon Gunn, Brett Winn]"

In [28]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return [str.lower(x.replace(" ", ""))for i in x]
        else:
            return ''

In [29]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4803 non-null   int64
 1   title     4803 non-null   object
 2   genres    4803 non-null   object
 3   cast      4803 non-null   object
 4   keywords  4803 non-null   object
 5   overview  4800 non-null   object
 6   director  4803 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.2+ KB

In [30]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'genres', 'director']

for feature in features:
    df3[feature] = df3[feature].apply(clean_data)

In [31]:
#df3['overview'] = df3['overview'].fillna('')
#df3['overview']  = df3['overview'].astype('str')
#df3['overview']  = df3['overview'].apply(lambda x:x.split())

df3['overview'] = df3['overview'].fillna('').astype('str').apply(lambda x:x.split())
df3

,id,title,genres,cast,keywords,overview,director
0,19995,Avatar,"[action, adventure, fantasy, sciencefiction]","[samworthington, zoesaldana, sigourneyweaver]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",[jamescameron]
1,285,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]","[johnnydepp, orlandobloom, keiraknightley]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",[goreverbinski]
2,206647,Spectre,"[action, adventure, crime]","[danielcraig, christophwaltz, lÃ©aseydoux]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bondâ€™s, past, send...",[sammendes]
3,49026,The Dark Knight Rises,"[action, crime, drama, thriller]","[christianbale, michaelcaine, garyoldman]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",[christophernolan]
4,49529,John Carter,"[action, adventure, sciencefiction]","[taylorkitsch, lynncollins, samanthamorton]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",[andrewstanton]
...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[action, crime, thriller]","[carlosgallardo, jaimedehoyos, petermarquardt]","[unitedstatesâ€“mexicobarrier, legs, arms, paper...","[El, Mariachi, just, wants, to, play, his, gui...",[robertrodriguez]
4799,72766,Newlyweds,"[comedy, romance]","[edwardburns, kerrybishÃ©, marshadietlein]",[],"[A, newlywed, couple's, honeymoon, is, upended...",[edwardburns]
4800,231617,"Signed, Sealed, Delivered","[comedy, drama, romance, tvmovie]","[ericmabius, kristinbooth, crystallowe]","[date, loveatfirstsight, narration, investigat...","[""Signed,, Sealed,, Delivered"", introduces, a,...",[scottsmith]
4801,126186,Shanghai Calling,[],"[danielhenney, elizacoupe, billpaxton]",[],"[When, ambitious, New, York, attorney, Sam, is...",[danielhsia]
4802,25975,My Date with Drew,[documentary],"[drewbarrymore, brianherzlinger, coreyfeldman]","[obsession, camcorder, crush, dreamgirl]","[Ever, since, the, second, grade, when, he, fi...","[brianherzlinger, jongunn, brettwinn]"

In [32]:
#Concatinating these columns to give a brief explation/tags of the partticular movie
#Each movie have seperate tags, but we know that similar kind of movies tag line will more closer
# a similar genres movies tagline will be more closer to another same genres movie, the similarity varies for each movie from closer to far

df3['tags'] = df3['overview'] + df3['genres'] + df3['keywords'] + df3['cast'] + df3['director']

In [33]:
df3 = df3.drop(columns=['overview','genres','keywords','cast','director'])

In [34]:
#the seprate each string having ' ' <space> joining and converting to a lengthy sentences
df3['tags']  = df3['tags'].apply(lambda x: ' '.join(x))

In [35]:
df3

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4798,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,Ever since the second grade when he first saw ...

#### Countvectorizer

In [36]:
#Countvectorizer-is-a-method-to-convert-text-to-numerical-data
#Convert a collection of text documents to a matrix of token counts.


from sklearn.feature_extraction.text import CountVectorizer                        # Countvectorizer convert count matrix for each word
cv = CountVectorizer(stop_words='english')

In [37]:
vector = cv.fit_transform(df3['tags'])

In [38]:
vector

<4803x35557 sparse matrix of type '<class 'numpy.int64'>'
	with 189772 stored elements in Compressed Sparse Row format>

In [39]:
vector.shape

(4803, 35557)

In [40]:
#vector is a 4803x35557 sparse matrix that means  35557 different words were used to describe the 4803 movies in the dataset.
#So it definetely contain less used words which do not have any major importance in recommenation

from sklearn.feature_extraction.text import CountVectorizer                       
cv = CountVectorizer(max_features=5000,stop_words='english') 

#max_features allows only most commonly repeated words, here we look only 5000 most freaquent words as 5000features
#and stop word eliminite stop words those words do not make any impacts

In [41]:
vector = cv.fit_transform(df3['tags'])

In [42]:
vector.shape                              # and the 4803 movie datas situated on a  5000 dimensional space

(4803, 5000)

In [43]:
#We discussed with the similarities of taglines of each movies,
#We can measure them using this cosine_similarity, it tells the how much closely laid other datas and the 4803 movie datas situated on a  5000 dimensional space

from sklearn.metrics.pairwise import cosine_similarity

In [44]:
#Similarity score tells how far is the other movie data points scattered from the current movie data in the scale of-1 to 1
#cos Î¸ =1 , Î¸=0Â°, same line/maimum closest point
#cos Î¸ =0 , Î¸=90Â°, other data point laid in 90Â° perpindicular
#cos Î¸ =-1 , Î¸=180Â° data laid n directly opposite to the current point

#So we can see that the value is closer to 1 is the nearest point according to the current data

similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.09107651, 0.06071767, ..., 0.02519763, 0.02672612,
        0.        ],
       [0.09107651, 1.        , 0.06451613, ..., 0.02677398, 0.        ,
        0.        ],
       [0.06071767, 0.06451613, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02677398, 0.02677398, ..., 1.        , 0.07071068,
        0.04774099],
       [0.02672612, 0.        , 0.        , ..., 0.07071068, 1.        ,
        0.05063697],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05063697,
        1.        ]])

In [45]:
index = df3[df3['title'] == 'The Lego Movie'].index[0]
# to find the index number for the movie, and its in a tuple using [0] indexing we can fetch the first element from tht index tuple
index

744

In [46]:
#To recommend 10 similsr movies, after getting a movie name

#1. It calculates the most nearest similarity scores and 
#2. giving the index values (normally, it sorted descending with the index)
#3. We need descendingly sorted the movie's index(reversed) based on  similarity scores(enumerate uses for that)
#4. and we fetching [1]th column of each tuple by passing it through key 

#5. In the for loop, fetching only from [1]th data to[11]th data from the distance it will iterate for 10 times
# In every time in the reversly sorted similarity scores corresponded movie index's title will printed

def recommend(movie):
    index = df3[df3['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:11]:
        print(df3.iloc[i[0]].title)

In [47]:
#In the above function enumerates function is used because, when we sorting based on most similar movies it tends to loose the movie's own index number
#enumerate fn. does the job, it retain all movies  similarity scores without changing its index number
#(enumerate fn. converting into list of tuples)

distances = sorted(list(enumerate(similarity[0])),reverse=True,key = lambda x: x[1])
distances

[(0, 1.0),
 (539, 0.26089696604360174),
 (507, 0.25302403842552984),
 (1191, 0.25226248955475644),
 (1213, 0.2480694691784169),
 (260, 0.24688535993934702),
 (582, 0.24397501823713333),
 (1914, 0.24053511772118194),
 (3724, 0.23904572186687872),
 (1438, 0.2344036154692477),
 (74, 0.22677868380553634),
 (322, 0.2253744679276044),
 (3604, 0.2238868314198225),
 (83, 0.22190115272469205),
 (1201, 0.2193633988428327),
 (2327, 0.2173253797873328),
 (47, 0.2164218276749025),
 (61, 0.2162249910469341),
 (495, 0.2162249910469341),
 (4187, 0.2162249910469341),
 (972, 0.21602468994692864),
 (2403, 0.21380899352993948),
 (2967, 0.21302148074901786),
 (942, 0.21251185925162067),
 (466, 0.2114722130550724),
 (1326, 0.21147221305507238),
 (2198, 0.2059714602177749),
 (1198, 0.202837021134844),
 (151, 0.19920476822239894),
 (1272, 0.19889806323953876),
 (2781, 0.19889806323953876),
 (4042, 0.1980534816610477),
 (27, 0.19518001458970666),
 (4401, 0.19518001458970666),
 (3158, 0.19317811536651802),
 (3534, 0.19194297398747862),
 (305, 0.19166296949998193),
 (931, 0.1916629694999819),
 (1531, 0.18946618668626833),
 (461, 0.1889822365046136),
 (1318, 0.1889822365046136),
 (3323, 0.1889822365046136),
 (220, 0.18832944617230335),
 (2995, 0.18752289237539815),
 (150, 0.18725633517970774),
 (300, 0.18708286933869708),
 (36, 0.18708286933869706),
 (1068, 0.18708286933869706),
 (4, 0.1825741858350554),
 (301, 0.18182745801939793),
 (184, 0.18043874177926345),
 (373, 0.18018749253911176),
 (67, 0.17928429140015903),
 (46, 0.1765469659009499),
 (7, 0.1763834207376394),
 (1825, 0.17445567519772937),
 (149, 0.173137462139922),
 (2490, 0.17251638983558856),
 (2726, 0.17251638983558856),
 (26, 0.17142857142857143),
 (1341, 0.17142857142857143),
 (1802, 0.17142857142857143),
 (661, 0.17036708399998393),
 (208, 0.1690308509457033),
 (4004, 0.1690308509457033),
 (108, 0.16903085094570328),
 (838, 0.16903085094570328),
 (94, 0.16574838603294897),
 (1390, 0.16408253082847338),
 (31, 0.16265001215808886),
 (581, 0.16265001215808886),
 (2509, 0.16265001215808886),
 (1294, 0.16239958858823),
 (1377, 0.16239958858823),
 (4332, 0.16239958858823),
 (91, 0.15971914124998493),
 (168, 0.1583891032045364),
 (3350, 0.15694120514358612),
 (311, 0.1564921592871903),
 (1959, 0.1553638665664663),
 (577, 0.15430334996209188),
 (3624, 0.15430334996209188),
 (158, 0.15289415743128765),
 (502, 0.15289415743128765),
 (1352, 0.15289415743128765),
 (111, 0.15179418517972906),
 (1175, 0.15179418517972906),
 (2163, 0.15179418517972906),
 (172, 0.15118578920369088),
 (490, 0.15118578920369088),
 (17, 0.15026857675938213),
 (1932, 0.14953343588376802),
 (422, 0.14754222271266348),
 (505, 0.14754222271266348),
 (1482, 0.14754222271266348),
 (557, 0.14712247158412492),
 (41, 0.14638501094227999),
 (84, 0.1456438162508838),
 (568, 0.1449427589131121),
 (2681, 0.1449427589131121),
 (56, 0.14414999403128942),
 (249, 0.14414999403128942),
 (1324, 0.14414999403128942),
 (1319, 0.14342743312012723),
 (332, 0.14285714285714285),
 (487, 0.14098147537004826),
 (2578, 0.14098147537004826),
 (187, 0.14085904245475275),
 (1217, 0.14085904245475275),
 (1667, 0.1406421692815486),
 (2127, 0.1406421692815486),
 (2474, 0.1406421692815486),
 (2868, 0.1406421692815486),
 (4344, 0.1406421692815486),
 (52, 0.1389425035941821),
 (413, 0.1389425035941821),
 (1939, 0.1389425035941821),
 (2614, 0.13801311186847084),
 (2966, 0.13801311186847084),
 (4487, 0.13801311186847084),
 (1012, 0.13710212427677043),
 (1296, 0.13710212427677043),
 (3405, 0.13710212427677043),
 (3618, 0.13710212427677043),
 (127, 0.13572417850765922),
 (342, 0.1357241785076592),
 (1473, 0.13533299049019168),
 (68, 0.13522468075656266),
 (134, 0.13522468075656266),
 (368, 0.13522468075656266),
 (1093, 0.13522468075656266),
 (1155, 0.13522468075656266),
 (999, 0.13433209885189348),
 (595, 0.1336306209562122),
 (3668, 0.1336306209562122),
 (1044, 0.13259870882635919),
 (1652, 0.13259870882635919),
 (1741, 0.13259870882635919),
 (2372, 0.13259870882635919),
 (3372, 0.13259870882635919),
 (740, 0.13199091933711365),
 (1611, 0.13199091933711365),
 (1709, 0.1309307341415954),
 (778, 0.13041013273932528),
 (483, 0.1301200097264711),
 (3993, 0.1301200097264711),
 (420, 0.12888481555661674),
 (529, 0.12888481555661674),
 (1034, 0.12888481555661674),
 (1735, 0.12880163722232754),
 (939, 0.12777531299998796),
 (1827, 0.12777531299998796),
 (228, 0.12741179785940637),
 (2708, 0.12741179785940637),
 (3305, 0.12741179785940637),
 (95, 0.12598815766974242),
 (549, 0.12598815766974242),
 (2541, 0.12598815766974242),
 (3403, 0.12598815766974242),
 (28, 0.12555296411486888),
 (275, 0.12555296411486888),
 (1271, 0.12555296411486888),
 (2863, 0.12555296411486888),
 (4670, 0.12555296411486888),
 (454, 0.1246111965698067),
 (432, 0.12461119656980668),
 (50, 0.12344267996967351),
 (72, 0.12344267996967351),
 (579, 0.12344267996967351),
 (1976, 0.12344267996967351),
 (2069, 0.12344267996967351),
 (1506, 0.12327841818038446),
 (624, 0.12298800925361816),
 (653, 0.12298800925361816),
 (1569, 0.12298800925361816),
 (238, 0.12298800925361815),
 (3143, 0.12209353913347193),
 (123, 0.12198750911856666),
 (687, 0.12143534814378325),
 (692, 0.12073632210407378),
 (1274, 0.12073632210407378),
 (3626, 0.12073632210407378),
 (169, 0.11952286093343936),
 (808, 0.11952286093343936),
 (2253, 0.11952286093343936),
 (3715, 0.11952286093343936),
 (166, 0.11952286093343935),
 (232, 0.11952286093343935),
 (294, 0.11952286093343935),
 (859, 0.11952286093343935),
 (1610, 0.11952286093343935),
 (1568, 0.1187013882373396),
 (5, 0.1183452670827877),
 (199, 0.1183452670827877),
 (10, 0.11769797726729994),
 (513, 0.11769797726729994),
 (1028, 0.11769797726729994),
 (3004, 0.11769797726729994),
 (206, 0.11720180773462385),
 (81, 0.11710800875382396),
 (141, 0.11633501014942217),
 (627, 0.11633501014942217),
 (2317, 0.11633501014942217),
 (3994, 0.11633501014942217),
 (14, 0.11595420713048966),
 (87, 0.11595420713048966),
 (126, 0.11595420713048966),
 (1192, 0.11595420713048966),
 (2444, 0.11595420713048966),
 (2577, 0.11595420713048966),
 (777, 0.11501092655705902),
 (508, 0.11428571428571427),
 (854, 0.11428571428571427),
 (900, 0.11428571428571427),
 (2007, 0.11428571428571427),
 (3494, 0.11428571428571427),
 (1367, 0.11338934190276817),
 (1518, 0.11338934190276817),
 (1715, 0.11338934190276817),
 (1721, 0.11338934190276817),
 (2628, 0.11338934190276817),
 (4012, 0.11338934190276817),
 (4129, 0.11338934190276817),
 (1016, 0.1129384878631564),
 (1491, 0.1129384878631564),
 (2100, 0.1129384878631564),
 (2433, 0.1129384878631564),
 (131, 0.1126872339638022),
 (312, 0.1126872339638022),
 (1079, 0.1126872339638022),
 (1291, 0.1126872339638022),
 (3336, 0.1126872339638022),
 (3616, 0.1126872339638022),
 (4091, 0.1126872339638022),
 (18, 0.11194341570991125),
 (102, 0.11194341570991125),
 (2755, 0.11194341570991125),
 (174, 0.11115400287534567),
 (266, 0.11115400287534567),
 (330, 0.11115400287534567),
 (2066, 0.11115400287534567),
 (2175, 0.11115400287534567),
 (4073, 0.11115400287534567),
 (3775, 0.11065666703449763),
 (325, 0.11065666703449761),
 (773, 0.11065666703449761),
 (1153, 0.11065666703449761),
 (1298, 0.11065666703449761),
 (2515, 0.11065666703449761),
 (3051, 0.11065666703449761),
 (3656, 0.11065666703449761),
 (3833, 0.11065666703449761),
 (3948, 0.11065666703449761),
 (4198, 0.11065666703449761),
 (403, 0.11002971203391539),
 (295, 0.10968169942141635),
 (535, 0.10968169942141635),
 (754, 0.10968169942141635),
 (985, 0.10968169942141635),
 (1270, 0.10968169942141635),
 (3098, 0.10826639239215334),
 (4225, 0.10826639239215334),
 (4542, 0.10821091383745125),
 (105, 0.10811249552346706),
 (233, 0.10811249552346706),
 (2450, 0.10811249552346706),
 (2556, 0.10811249552346706),
 (2757, 0.10811249552346706),
 (4193, 0.10811249552346706),
 (139, 0.10733469768527296),
 (239, 0.10733469768527296),
 (182, 0.10690449676496976),
 (334, 0.10690449676496976),
 (898, 0.10690449676496976),
 (1053, 0.10690449676496976),
 (1106, 0.10690449676496976),
 (3777, 0.10690449676496976),
 (85, 0.10631548679075009),
 (148, 0.1057361065275362),
 (476, 0.1057361065275362),
 (715, 0.1057361065275362),
 (935, 0.1057361065275362),
 (1277, 0.1057361065275362),
 (1495, 0.1057361065275362),
 (2654, 0.1057361065275362),
 (4327, 0.1057361065275362),
 (4620, 0.1057361065275362),
 (129, 0.10559273546969093),
 (510, 0.10559273546969093),
 (643, 0.10559273546969093),
 (3439, 0.10559273546969093),
 (4039, 0.10559273546969093),
 (307, 0.10460520656316097),
 (279, 0.10432810619146021),
 (1083, 0.10432810619146021),
 (1230, 0.10432810619146021),
 (3460, 0.10432810619146021),
 (33, 0.10350983390135313),
 (35, 0.10350983390135313),
 (157, 0.10350983390135313),
 (263, 0.10350983390135313),
 (400, 0.10350983390135313),
 (660, 0.10350983390135313),
 (781, 0.10350983390135313),
 (920, 0.10350983390135313),
 (1936, 0.10350983390135313),
 (2655, 0.10350983390135313),
 (4251, 0.10350983390135313),
 (2590, 0.10310785244529341),
 (270, 0.1031078524452934),
 (278, 0.1031078524452934),
 (473, 0.1031078524452934),
 (870, 0.1031078524452934),
 (1433, 0.1031078524452934),
 (371, 0.1019294382875251),
 (412, 0.1019294382875251),
 (813, 0.1019294382875251),
 (933, 0.1019294382875251),
 (1199, 0.1019294382875251),
 (1273, 0.1019294382875251),
 (1817, 0.1019294382875251),
 (2278, 0.1019294382875251),
 (292, 0.10141851056742199),
 (389, 0.10141851056742199),
 (530, 0.10141851056742199),
 (564, 0.10141851056742199),
 (691, 0.10141851056742199),
 (1074, 0.10141851056742199),
 (2645, 0.10141851056742199),
 (3730, 0.10141851056742199),
 (410, 0.10079052613579392),
 (1997, 0.10079052613579392),
 (243, 0.09968895725584535),
 (1086, 0.09960238411119947),
 (791, 0.0994490316197694),
 (1402, 0.0994490316197694),
 (1468, 0.0994490316197694),
 (1583, 0.0994490316197694),
 (1680, 0.0994490316197694),
 (1750, 0.0994490316197694),
 (2390, 0.0994490316197694),
 (2646, 0.0994490316197694),
 (3089, 0.0994490316197694),
 (785, 0.09891782353111633),
 (589, 0.09862273454430757),
 (1354, 0.09862273454430757),
 (43, 0.09759000729485333),
 (618, 0.09759000729485333),
 (1840, 0.09759000729485333),
 (2482, 0.09759000729485333),
 (2791, 0.09759000729485333),
 (12, 0.09759000729485331),
 (23, 0.09759000729485331),
 (362, 0.09759000729485331),
 (2087, 0.09759000729485331),
 (596, 0.09658905768325902),
 (1412, 0.09658905768325902),
 (160, 0.09631426606617742),
 (122, 0.09583148474999097),
 (236, 0.09583148474999097),
 (511, 0.09583148474999097),
 (794, 0.09583148474999097),
 (922, 0.09583148474999097),
 (960, 0.09583148474999097),
 (1024, 0.09583148474999097),
 (1303, 0.09583148474999097),
 (2835, 0.09583148474999097),
 (479, 0.09569487529386908),
 (1826, 0.09561828874675149),
 (1918, 0.09561828874675149),
 (1275, 0.09467621366623016),
 (1490, 0.09467621366623016),
 (21, 0.09416472308615166),
 (75, 0.09416472308615166),
 (242, 0.09416472308615166),
 (306, 0.09416472308615166),
 (356, 0.09416472308615166),
 (901, 0.09416472308615166),
 (977, 0.09416472308615166),
 (1001, 0.09416472308615166),
 (1246, 0.09416472308615166),
 (4465, 0.09416472308615166),
 (799, 0.09390602830316849),
 (2268, 0.09376144618769908),
 (2382, 0.09376144618769908),
 (2851, 0.09376144618769908),
 (3150, 0.09376144618769908),
 (4349, 0.09376144618769908),
 (4499, 0.09376144618769908),
 (4513, 0.09376144618769908),
 (363, 0.09287269204251442),
 (2442, 0.09276773134741387),
 (88, 0.09258200997725513),
 (164, 0.09258200997725513),
 (227, 0.09258200997725513),
 (315, 0.09258200997725513),
 (349, 0.09258200997725513),
 (775, 0.09258200997725513),
 (1372, 0.09258200997725513),
 (1694, 0.09258200997725513),
 (1784, 0.09258200997725513),
 (3533, 0.09258200997725513),
 (3810, 0.09258200997725513),
 (4623, 0.09258200997725513),
 (63, 0.09200874124564722),
 (107, 0.09200874124564722),
 (170, 0.09200874124564722),
 (491, 0.09200874124564722),
 (812, 0.09200874124564722),
 (1999, 0.09200874124564722),
 (32, 0.09116846116771035),
 (45, 0.09116846116771035),
 (222, 0.09116846116771035),
 (2964, 0.09116846116771035),
 (1, 0.09107651110783743),
 (98, 0.09107651110783743),
 (112, 0.09107651110783743),
 (121, 0.09107651110783743),
 (142, 0.09107651110783743),
 (245, 0.09107651110783743),
 (814, 0.09107651110783743),
 (894, 0.09107651110783743),
 (2161, 0.09107651110783743),
 (3297, 0.09107651110783743),
 (3445, 0.09107651110783743),
 (381, 0.09035079029052512),
 (467, 0.09035079029052512),
 (1136, 0.09035079029052512),
 (2333, 0.09035079029052512),
 (2492, 0.09035079029052512),
 (2875, 0.09035079029052512),
 (4651, 0.09035079029052512),
 (4734, 0.09035079029052512),
 (2380, 0.09009374626955588),
 (86, 0.08964214570007951),
 (96, 0.08964214570007951),
 (369, 0.08964214570007951),
 (547, 0.08964214570007951),
 (786, 0.08964214570007951),
 (937, 0.08964214570007951),
 (2241, 0.08964214570007951),
 (2245, 0.08964214570007951),
 (2298, 0.08964214570007951),
 (2812, 0.08964214570007951),
 (3424, 0.08964214570007951),
 (4254, 0.08964214570007951),
 (4654, 0.08964214570007951),
 (230, 0.089554732567929),
 (654, 0.089554732567929),
 (103, 0.08877935232369503),
 (1279, 0.08877935232369503),
 (1872, 0.08877935232369503),
 (39, 0.08827348295047496),
 (101, 0.08827348295047496),
 (203, 0.08827348295047496),
 (457, 0.08827348295047496),
 (543, 0.08827348295047496),
 (899, 0.08827348295047496),
 (1110, 0.08827348295047496),
 (1139, 0.08827348295047496),
 (1204, 0.08827348295047496),
 (1266, 0.08827348295047496),
 (1467, 0.08827348295047496),
 (1517, 0.08827348295047496),
 (2789, 0.08827348295047496),
 (3087, 0.08827348295047496),
 (3231, 0.08827348295047496),
 (19, 0.0880237696271323),
 (193, 0.0880237696271323),
 (501, 0.0880237696271323),
 (1822, 0.0880237696271323),
 (3437, 0.0880237696271323),
 (1399, 0.08728715609439694),
 (2244, 0.08728715609439694),
 (3065, 0.08728715609439694),
 (3214, 0.08728715609439694),
 (4489, 0.08728715609439694),
 (4715, 0.08728715609439694),
 (257, 0.08696565534786725),
 (746, 0.08696565534786725),
 (3136, 0.08696565534786725),
 (3306, 0.08696565534786725),
 (3419, 0.08696565534786725),
 (3904, 0.08696565534786725),
 (51, 0.086568731069961),
 (1892, 0.086568731069961),
 (572, 0.08656873106996099),
 (2093, 0.08656873106996099),
 (153, 0.08586775814821836),
 (1633, 0.08586775814821836),
 (1920, 0.08586775814821836),
 (70, 0.0857142857142857),
 (207, 0.0857142857142857),
 (634, 0.0857142857142857),
 (1158, 0.0857142857142857),
 (1608, 0.0857142857142857),
 (2247, 0.0857142857142857),
 (2638, 0.0857142857142857),
 (3024, 0.0857142857142857),
 (1528, 0.08518354199999197),
 (3427, 0.08518354199999197),
 (205, 0.08451542547285165),
 (241, 0.08451542547285165),
 (472, 0.08451542547285165),
 (503, 0.08451542547285165),
 (534, 0.08451542547285165),
 (626, 0.08451542547285165),
 (752, 0.08451542547285165),
 (776, 0.08451542547285165),
 (787, 0.08451542547285165),
 (885, 0.08451542547285165),
 (984, 0.08451542547285165),
 (1615, 0.08451542547285165),
 (1649, 0.08451542547285165),
 (2159, 0.08451542547285165),
 (2707, 0.08451542547285165),
 (2796, 0.08451542547285165),
 (2878, 0.08451542547285165),
 (3249, 0.08451542547285165),
 (3351, 0.08451542547285165),
 (3385, 0.08451542547285165),
 (3523, 0.08451542547285165),
 (4055, 0.08451542547285165),
 (4160, 0.08451542547285165),
 (4427, 0.08451542547285165),
 (4565, 0.08451542547285165),
 (4638, 0.08451542547285165),
 (190, 0.08386278693775347),
 (37, 0.08336550215650926),
 (82, 0.08336550215650926),
 (138, 0.08336550215650926),
 (223, 0.08336550215650926),
 (329, 0.08336550215650926),
 (471, 0.08336550215650926),
 (632, 0.08336550215650926),
 (1395, 0.08336550215650926),
 (2678, 0.08336550215650926),
 (3466, 0.08336550215650926),
 (2197, 0.08322503785764788),
 (2758, 0.08260162055644009),
 (16, 0.08226127456606226),
 (71, 0.08226127456606226),
 (254, 0.08226127456606226),
 (680, 0.08226127456606226),
 (1554, 0.08226127456606226),
 (1759, 0.08226127456606226),
 (4049, 0.08226127456606226),
 (4448, 0.08226127456606226),
 (62, 0.08199200616907877),
 (189, 0.08199200616907877),
 (256, 0.08199200616907877),
 (850, 0.08199200616907877),
 (1042, 0.08199200616907877),
 (1320, 0.08199200616907877),
 (1658, 0.08199200616907877),
 (2320, 0.08199200616907877),
 (2653, 0.08199200616907877),
 (2784, 0.08199200616907877),
 (3151, 0.08199200616907877),
 (3826, 0.08199200616907877),
 (4470, 0.08199200616907877),
 (11, 0.081199794294115),
 (365, 0.081199794294115),
 (1286, 0.081199794294115),
 (1287, 0.081199794294115),
 (1361, 0.081199794294115),
 (2586, 0.081199794294115),
 (2815, 0.081199794294115),
 (3202, 0.081199794294115),
 (3695, 0.081199794294115),
 (274, 0.08058229640253803),
 (737, 0.08017837257372731),
 (2157, 0.08017837257372731),
 (2912, 0.08017837257372731),
 (4637, 0.08017837257372731),
 (125, 0.07985957062499247),
 (59, 0.07968190728895957),
 (109, 0.07968190728895957),
 (200, 0.07968190728895957),
 (313, 0.07968190728895957),
 (800, 0.07968190728895957),
 (1285, 0.07968190728895957),
 (1515, 0.07968190728895957),
 (2155, 0.07968190728895957),
 (2311, 0.07968190728895957),
 (2404, 0.07968190728895957),
 (2545, 0.07968190728895957),
 (3426, 0.07968190728895957),
 (4408, 0.07968190728895957),
 (79, 0.0791945516022682),
 (271, 0.0791945516022682),
 (587, 0.0791945516022682),
 (908, 0.0791945516022682),
 (1172, 0.0791945516022682),
 (2389, 0.0791945516022682),
 (2826, 0.0791945516022682),
 (4077, 0.0791945516022682),
 (4117, 0.0791945516022682),
 (229, 0.07913425882489307),
 (55, 0.07859774918918593),
 (76, 0.07824607964359516),
 (591, 0.07824607964359516),
 (732, 0.07824607964359516),
 (784, 0.07824607964359516),
 (1322, 0.07824607964359516),
 (2015, 0.07824607964359516),
 (2046, 0.07824607964359516),
 (2357, 0.07824607964359516),
 (2696, 0.07824607964359516),
 (3018, 0.07824607964359516),
 (3901, 0.07824607964359516),
 (2348, 0.07824607964359515),
 (1002, 0.07755667343294811),
 (1345, 0.07755667343294811),
 (1763, 0.07755667343294811),
 (2130, 0.07755667343294811),
 (2206, 0.07755667343294811),
 (2375, 0.07755667343294811),
 (2782, 0.07755667343294811),
 (3068, 0.07755667343294811),
 (3976, 0.07755667343294811),
 (4000, 0.07755667343294811),
 (4093, 0.07755667343294811),
 (9, 0.07733088933397005),
 (212, 0.07733088933397005),
 (536, 0.07733088933397005),
 (674, 0.07733088933397005),
 (976, 0.07733088933397005),
 (1617, 0.07733088933397005),
 (1877, 0.07733088933397005),
 (2235, 0.07733088933397005),
 (3184, 0.07733088933397005),
 (488, 0.07655590023509526),
 (419, 0.07644707871564382),
 (782, 0.07644707871564382),
 (1440, 0.07644707871564382),
 (2644, 0.07644707871564382),
 (97, 0.07559289460184544),
 (179, 0.07559289460184544),
 (267, 0.07559289460184544),
 (570, 0.07559289460184544),
 (635, 0.07559289460184544),
 (728, 0.07559289460184544),
 (827, 0.07559289460184544),
 (1289, 0.07559289460184544),
 (1626, 0.07559289460184544),
 (1764, 0.07559289460184544),
 (2693, 0.07559289460184544),
 (3237, 0.07559289460184544),
 (3386, 0.07559289460184544),
 (3394, 0.07559289460184544),
 (3988, 0.07559289460184544),
 (4399, 0.07559289460184544),
 (4440, 0.07559289460184544),
 (2050, 0.07476671794188403),
 (262, 0.07476671794188401),
 (665, 0.07476671794188401),
 (1015, 0.07476671794188401),
 (1143, 0.07476671794188401),
 (1165, 0.07476671794188401),
 (1337, 0.07476671794188401),
 (1695, 0.07476671794188401),
 (1990, 0.07476671794188401),
 (3816, 0.07476671794188401),
 (183, 0.07466533929465573),
 (215, 0.07396705090823068),
 (704, 0.07396705090823068),
 (994, 0.07396705090823068),
 (2012, 0.07396705090823068),
 (3221, 0.07396705090823068),
 (4339, 0.07396705090823068),
 (336, 0.07377111135633174),
 (1163, 0.07377111135633174),
 (1168, 0.07377111135633174),
 (1259, 0.07377111135633174),
 (1731, 0.07377111135633174),
 (1768, 0.07377111135633174),
 (1984, 0.07377111135633174),
 (2108, 0.07377111135633174),
 (2527, 0.07377111135633174),
 (3664, 0.07377111135633174),
 (3970, 0.07377111135633174),
 (30, 0.07319250547113999),
 (1188, 0.07319250547113999),

In [48]:
recommend('Titanic')

Captain Phillips
The Notebook
In the Heart of the Sea
Ghost Ship
Poseidon
The Bounty
Romance & Cigarettes
Triangle
Love Letters
Pirates of the Caribbean: On Stranger Tides

  ## User Based Recommendation

In [49]:
#For that we need to import a new data set of user movie rating 

df4=pd.read_csv('/kaggle/input/the-movies-dataset/ratings.csv')

In [50]:
df1

,id,tittle,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [51]:
df5= df4.rename(columns ={'movieId': 'id'})

In [52]:
df5

          userId     id  rating   timestamp
0              1    110     1.0  1425941529
1              1    147     4.5  1425942435
2              1    858     5.0  1425941523
3              1   1221     5.0  1425941546
4              1   1246     5.0  1425941556
...          ...    ...     ...         ...
26024284  270896  58559     5.0  1257031564
26024285  270896  60069     5.0  1257032032
26024286  270896  63082     4.5  1257031764
26024287  270896  64957     4.5  1257033990
26024288  270896  71878     2.0  1257031858

[26024289 rows x 4 columns]

In [53]:
df6= df1.merge(df5,on='id')

In [54]:
df6 = df6.drop(columns= ['cast', 'crew', 'timestamp' ])
df6

            id                                    tittle  userId  rating
0          285  Pirates of the Caribbean: At World's End     949     2.0
1          285  Pirates of the Caribbean: At World's End    2831     1.0
2          285  Pirates of the Caribbean: At World's End    4864     1.0
3          285  Pirates of the Caribbean: At World's End    5620     4.0
4          285  Pirates of the Caribbean: At World's End   16886     1.0
...        ...                                       ...     ...     ...
4655276  25975                         My Date with Drew  230091     4.0
4655277  25975                         My Date with Drew  234879     3.5
4655278  25975                         My Date with Drew  257255     3.5
4655279  25975                         My Date with Drew  258253     4.0
4655280  25975                         My Date with Drew  267772     5.0

[4655281 rows x 4 columns]

### We are setting a Criteria for the user and movie

Criteria:
A good User rating is valid for recommendation  and these can be identified by how many times he rated, minimum of 100 counts can be setted as valid user.
A good movie will get atleast 50 times of rating
asdgs

In [55]:
df6.userId.value_counts()

8659      906
107720    820
179792    811
45811     693
229879    605
         ...
85474       1
228331      1
84437       1
204608      1
183787      1
Name: userId, Length: 247466, dtype: int64

In [56]:
x = df6.userId.value_counts() > 100
x[x].shape               #We are filtering the data set and keeping only the valid users, whose are rated atleast 100 time for different movies

(6687,)

In [57]:
y = x[x].index

In [58]:
df6 = df6[df6.userId.isin(y)] 
df6

            id                                    tittle  userId  rating
3          285  Pirates of the Caribbean: At World's End    5620     4.0
4          285  Pirates of the Caribbean: At World's End   16886     1.0
8          285  Pirates of the Caribbean: At World's End   30919     1.0
9          285  Pirates of the Caribbean: At World's End   34060     0.5
11         285  Pirates of the Caribbean: At World's End   42211     3.0
...        ...                                       ...     ...     ...
4655275  25975                         My Date with Drew  228291     3.5
4655276  25975                         My Date with Drew  230091     4.0
4655278  25975                         My Date with Drew  257255     3.5
4655279  25975                         My Date with Drew  258253     4.0
4655280  25975                         My Date with Drew  267772     5.0

[1030356 rows x 4 columns]

In [59]:
rating= df6.groupby('tittle')['rating'].count().reset_index()    #This performs second criteria to select movies, only keep the movies atleast rated 50 times

In [60]:
rating

                          tittle  rating
0     10 Things I Hate About You     637
1                   12 Angry Men      87
2                      127 Hours      26
3                           1408     158
4                     15 Minutes     333
...                          ...     ...
1328                      Zodiac     776
1329                       [REC]      13
1330                    eXistenZ     619
1331                         xXx    1803
1332                    Ã†on Flux      38

[1333 rows x 2 columns]

In [61]:
rating.rename(columns = { 'rating' : 'no.of.rating'}, inplace = True)

In [62]:
df7= df6.merge(rating, on = 'tittle' )
df7.sample(10)

,id,tittle,userId,rating,no.of.rating
877837,510,One Flew Over the Cuckoo's Nest,121022,3.0,371
220347,345,Eyes Wide Shut,65866,5.0,2199
178401,594,The Terminal,270094,3.0,3930
14754,8373,Transformers: Revenge of the Fallen,218484,4.0,1025
12056,597,Titanic,207089,4.0,5233
474349,31867,Repo Men,49740,3.0,161
576081,866,Finding Neverland,268972,4.0,2110
537123,1259,Notes on a Scandal,184228,4.0,4861
338958,593,Solaris,135269,4.0,6192
404851,8970,The Out-of-Towners,224453,4.0,1945

In [63]:
df8 = df7[df7['no.of.rating'] >50]          #here we are filtering with the conditions >50 rated movies will keep others will eliminate
df8

,id,tittle,userId,rating,no.of.rating
78,767,Harry Potter and the Half-Blood Prince,2975,4.5,134
79,767,Harry Potter and the Half-Blood Prince,3792,4.0,134
80,767,Harry Potter and the Half-Blood Prince,5380,1.0,134
81,767,Harry Potter and the Half-Blood Prince,7238,4.0,134
82,767,Harry Potter and the Half-Blood Prince,8332,5.0,134
...,...,...,...,...,...
1030319,692,Pink Flamingos,264293,3.0,385
1030320,692,Pink Flamingos,265327,1.5,385
1030321,692,Pink Flamingos,267762,2.0,385
1030322,692,Pink Flamingos,269279,0.5,385
1030323,692,Pink Flamingos,270213,2.0,385

In [64]:
#final = final.drop_duplicates(['tittle','userId'])

In [65]:
#Its time to make pivot table
#We are making a new data frame having each row of  movie data point represented by the valid users, valid users will be in different columns

df9 = df8.pivot_table(columns= 'userId', index = 'tittle', values = 'rating')
df9.fillna(0,inplace = True)
df9

userId,24,46,150,229,231,251,346,362,368,390,...,270551,270555,270564,270579,270654,270684,270688,270734,270769,270887
tittle,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
1408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15 Minutes,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Blocks,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Frankenstein,0.0,4.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,...,2.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
Zathura: A Space Adventure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
Zodiac,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
eXistenZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0
xXx,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,3.0,4.5,0.0,0.0,0.0,0.0,0.0

In [66]:
#We can see that for a single movie there will be so many column having 0 rating values, values 0 does not tell anything
#So sparse matrix only contain the compressed rating values which only have values other than 0, so itcan easily implement a movie, using 0 does not give result so sparse matrix simply avoid 0 values

from scipy.sparse import csr_matrix

In [67]:
sparx = csr_matrix(df9)
sparx

<934x6687 sparse matrix of type '<class 'numpy.float64'>'
	with 1023149 stored elements in Compressed Sparse Row format>

##### Model building

In [68]:
#importing NearestNeighbors

from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm = 'brute')

In [69]:
model.fit(sparx)

NearestNeighbors(algorithm='brute')

In [70]:
distances,  suggetion = model.kneighbors(df9.iloc[50,:].values.reshape(1,-1), n_neighbors=6)          
   

#In machine learning and data analysis, reshape(1,-1) is a method used to reshape a one-dimensional array or list into a two-dimensional array or matrix. 
#By using this algorithm we get n #no.of suggested datas and its distances from the current point

In [71]:
distances            #These are the distance from the current movie to closest 6 movies

array([[  0.        , 157.62693298, 165.65551606, 173.74622298,
        175.29617794, 176.25195034]])

In [72]:
 suggetion       #This will reuturn the 6 nearest movies inde numbers

array([[ 50, 651, 540, 787, 872, 573]])

In [73]:
 suggetion[0]

array([ 50, 651, 540, 787, 872, 573])

In [74]:

for i in range (len(suggetion)):
    print (df9.index[suggetion[i]])

Index(['Aliens vs Predator: Requiem', 'Star Wars', 'Psycho',
       'The Living Daylights', 'Titanic', 'Romeo + Juliet'],
      dtype='object', name='tittle')

In [75]:
#testing
s=  suggetion[0]
for i in range (len(s)):
    
    print (df9.index[s[i]])

Aliens vs Predator: Requiem
Star Wars
Psycho
The Living Daylights
Titanic
Romeo + Juliet

In [ ]:
df9.index[]s

In [ ]:
#index.get_loc is the function to fetch the integer index/location of label index

loc = df9.index.get_loc( 'Aliens vs Predator: Requiem')
loc

In [ ]:
#This function gives the suggetions purely based on previous cutomers rating 

def suggetions (movie):
    index = df9.index.get_loc(movie)
    distances,  suggetions = model.kneighbors(df9.iloc[index, :].values.reshape(1,-1), n_neighbors=8)
    
    s=  suggetions[0]
    for i in range (len(s)):
        print (df9.index[s[i]])

In [ ]:
suggetions('Titanic')